body {
  height: 100%;
  font-family: 'Source Sans Pro', Helvetica Neue, Segoe UI, trebuchet MS, Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

ul {
  margin: 0;
  padding: 5px 0 0 0;
  list-style: none;
}

.hidden {
  display: none;
}

.nav, .footer {
  padding: 5px;
  background-color: #F26000;
}

.nav .title {
  font-size: 20px;
  font-weight: bold;
}

.footer {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.footer a {
  text-decoration: none;
}

.site-notice {
  background-color: papayawhip;
  text-align: center;
  padding: 5px;
}

.button {
  display: inline-block;
  padding: 4px 10px;
  margin: 0 5px 5px 0;
  border: 1px solid gray;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.vent.button {
  float: right;
  background-color: #F2BF9D;
}

.filters, .sorts {
  padding: 10px 10px 5px 10px;
  background-color: #EEEEEE;
}

.button.on {
  background-color: PaleGreen;
}

.button.off {
  background-color: Crimson;
}

.entry-details {
  padding: 15px;
  border-bottom: 1px solid gray;
  position: relative;
  overflow: hidden;
  height: 100px;
}

.gradient-mask {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  height: 130px;
  width: 100%;
  background: linear-gradient(to bottom,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 99%);
}